@import './mixins.scss';

.wrapper .title{
    text-align: center;
    color: $black; 
    margin-top: 6rem;
    & p:first-child{
        font-family: 'KaushanScript';
        font-size: $about_title;
    }
    & p:last-child{
        font-family: 'MontserratBold';
        text-transform: uppercase;
        position: relative;
        font-size: $about_caps;
        padding: 10px 0;
        &::after{
            content: '';
            position: absolute;
            bottom: -30px;
            left: calc(50% - 3.125rem/2);
            width: 3.125rem;
            height: 3px;
            background-color: $hover_color_red;
        }
    }
 
}

.spec-title{
    @include spec_title;
    font-weight: bold;
}

.spec-title-bold{
    @include spec_title_bold;
}

.spec-text{
    @include spec_text;
}

.spec-text-ic{
    @include spec_text;
    font-style: italic;
    color: $light-black;
}

.spec-text-c{
    @include spec_text;
    color: $light-black;
}

.spec-text-i{
    @include spec_text;
    font-style: italic;
}



@media screen and (min-width: 1440px){
    .wrapper{
        width: 63.06%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1439px){
    .wrapper{
        width: 95%;
        margin: 0 auto;
    }
}