@font-face {
    font-family: "Montserrat";
    src: url('../fonts/montserrat/Montserrat-Regular.ttf') format("truetype");
}


@font-face {
    font-family: "KaushanScript";
    src: url('../fonts/KaushanScript/KaushanScript-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "MontserratBold";
    src: url('../fonts/montserrat/Montserrat-Bold.ttf') format("truetype");
}

@font-face {
    font-family: "MyriadPro";
    src: url('../fonts/MyriadPro/MyriadPro-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "MyriadProBold";
    src: url('../fonts/MyriadPro/MyriadPro-Bold.ttf') format("truetype");
}
