/*header*/
$small_text: 0.875rem;
$text: 0.9375rem;
$title: 1.5rem;
$caps_title: 1.875rem;
$header_kaushan: 4.5rem;
$header_caps: 9.375rem;

/*about*/

$about_title: 1.5rem;
$about_caps: 1.875rem;
$about_text: 0.9375rem;

/*numbers*/


$number_title: 4.5rem;
$number_title_tablet: 3.5rem;
$number_title_mobile_l: 2.5rem;
$number_title_mobile_m: 1.5rem;
$number_title_mobile_s: 1rem;

$number_p: 1rem;
$number_p_mobile_l: 0.7rem;
$number_p_mobile_m: 0.5rem;
$number_p_mobile_s: 1rem;


/*work & service*/

$service_info_title: 0.875rem;
$service_info_p: 0.9375rem;

/*cite*/
$cite_p: 1.32rem;

/*team*/

$team_name: 0.875rem;
$team_job: 0.9375rem;

/*portfolio*/
$port_p1: 0.875rem;
$port_p2: 0.9375rem;


/* clients*/
$ct_person: 0.875rem;
$ct_job: 0.9375rem;
$ct_p: 0.9375rem;

/* stories */
$ss_bold: 1.875rem;
$ss: 0.9375rem;

/*
_laptop_l
_laptop
_tablet
_mobile_l
_mobile_m
_mobile_s

*/