@import './tools/colors.scss';
@import './tools/size.scss';

.wrapper-about{
    color: $black; 
    & .title{
        text-align: center;
        color: $black; 
        margin-top: 5rem;
        & p:first-child{
            font-family: 'KaushanScript';
            font-size: $about_title;
        }
        & p:last-child{
            font-family: 'MontserratBold';
            text-transform: uppercase;
            position: relative;
            font-size: $about_caps;
            padding: 10px 0;
            &::after{
                content: '';
                position: absolute;
                bottom: -30px;
                left: calc(50% - 3.125rem/2);
                width: 3.125rem;
                height: 3px;
                background-color: $hover_color_red;
            }
        }
    }
    & .text{
        text-align: center;
        margin: 5.2rem 0;
        color: $light_black;
        font-family: "Roboto";
        font-size: $about_text;
    }
    & .images{
        display: flex;
        justify-content: space-between;
        margin-bottom: 6.875rem;

        & .img{
            flex-basis: 32%;
            position: relative;
            & img{
                height: 100%;
                width: 100%;
            }
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: 1;
                background-color: $bg_img;
                opacity: 0;
                transition: opacity .3s ease-in-out;
            }

            & .display-block{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: 2;
                background: linear-gradient(180deg, #f38181,#fce38a);
                opacity: 0;
                transform: translate(0,0);
                transition: all .3s ease-in-out;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                & p {
                    color: $white;
                    text-transform: uppercase;
                    font-family: 'MontserratBold';
                    margin: 5px 0;
                    & svg path{ 
                        fill: $white;
                    }

                    &.icon{
                        font-size: 2rem;
                    }
                }
            }
            &:hover{
                &::before{
                    opacity: 1;
                }

                & .display-block{
                    opacity: 0.8;
                    transform: translate(-10px,-10px);
                }
            }
        }
    }
}
