@import './header.scss';
@import './about.scss';
@import './numbers.scss';
@import './work.scss';
@import './design.scss';
@import './service.scss';
@import './cite.scss';
@import './team.scss';
@import './logos.scss';
@import './portfolio.scss';
@import './cite2.scss';
@import './clients.scss';
@import './tools/colors.scss';


*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    pointer-events: none;
    user-select: none;
}